.App {
  text-align: left;
  margin: 64px 64px 0 64px;
}

.title {
  color: #263238;
  font-size: 32px;
  font-family: "Helvetica Neue";
  font-weight: bold;
  letter-spacing: 6px;
  margin: 0;
}

.form {
  margin: 32px 0;
}

.form span{
  color: red;
  font-size: 28px;
  font-family: "Helvetica Neue";
  font-weight: bold;
  letter-spacing: 6px;
  margin: 0;
}

.textbox {
  width: 160px;
  height: 36px;
  border: 2px solid #CFD8DC;
  border-radius: 4px;
  margin-right: 16px;
  font-size: 16px;
  text-align: left;
}

.textbox placeholder {
  color: #90A4AE;
}

.dropdown {
  width: 160px;
  height: 41px;
  border: 2px solid #CFD8DC;
  border-radius: 4px;
  margin-right: 16px;
  font-size: 16px;
  text-align: center;
}

.button {
  padding: 0;
  padding-left: 4px;
  width: 160px;
  height: 38px;
  border: none;
  border-radius: 4px;
  background-color: #CFD8DC;
  color: #263238;
  font-size: 16px;
  text-align: center;
}

.result {
  color: #263238;
  width: 100%;
  height: auto;
  margin: 0;

}

.result p{
  color: 263238;
  font-size: 18px;
  font-family: "Helvetica Neue";
  white-space: pre-line;
}

.divider {
  border:0;
  border-top:1px solid #CFD8DC;
  margin: 32px 0;
}
